<html>
	<head>

		  <link rel="stylesheet" href="/css">

	</head>
	<body>

		<table border="1px">
			<tr>
				{% for station in stationsTo recursive %}
					<td {%if stationsTo[station] %} bgcolor="{%if stationsTo[station][1] > 0 %}#79AB68{% else %}red{% endif %}" {% endif %} >{{stationsTo[station][0]}}</td>
				{% endfor %}
			</tr>


			<tr>
				{% for station in stations recursive %}
					<th>{{ stations[station][:3] }}</th>
				{% endfor %}
			</tr>

			<tr>
				{% for station in stationsFrom recursive %}
					<td {%if stationsFrom[station] %} bgcolor="{%if stationsFrom[station][1] > 0 %}#79AB68{% else %}red{% endif %}" {% endif %} >{{stationsFrom[station][0]}}</td>
				{% endfor %}
			</tr>
		</table>

		<br/><br/>

		<table border="1px">		
			<tr><th colspan="5">To Airport</td></tr>
			{% for track in to_airport recursive %}
			<tr>
    			<td>{{ to_airport[track].trip_id }}</td>
    			<td>{{ to_airport[track].start }}</td>
    			<td>{{ to_airport[track].end }}</td>
    			<td> {{ to_airport[track].prev_station }} -> <strong>{{ to_airport[track].station }} </strong> ({{ to_airport[track].distance}} km) -> {{ to_airport[track].next_station }} (<strong>{{ to_airport[track].last_station }}</strong> {{ to_airport[track].last_station_distance }} km {{ to_airport[track].last_station_time_diff }} ago)</td>
    			<td>{{ to_airport[track].speed }}</td>
    		</tr>
    		{% endfor %}
			<tr><th colspan="5">From Airport</td></tr>
			{% for track in from_airport recursive %}
			<tr>
    			<td>{{ from_airport[track].trip_id }}</td>
    			<td>{{ from_airport[track].start }}</td>
    			<td>{{ from_airport[track].end }}</td>
    			<td>{{ from_airport[track].prev_station }} -> <strong>{{ from_airport[track].station }} </strong> ({{ from_airport[track].distance}} km) -> {{ from_airport[track].next_station }} (<strong>{{ from_airport[track].last_station }}</strong> {{ from_airport[track].last_station_distance }} km {{ from_airport[track].last_station_time_diff }} ago)</td>
    			<td>{{ from_airport[track].speed }}</td>
    		</tr>
    		{% endfor %}
		</table>

		<p><a href="http://www.trainose.gr/traingps/ws.php?op=1">ws call</a></p>
		<p><a href="/oasa">OASA</a></p>
		
	</body>
</html>
