<html>
<head>

    <link rel="stylesheet" href="/css">

</head>
<body>

<table border="1px">
    <tr>
        {% for station in stations  %}
        <td {%if map_to[station] %} bgcolor="#79AB68" {% endif %}>
            {{" ".join(map_to[station])}}
        </td>
        {% endfor %}
    </tr>


    <tr>
        {% for station in stations  %}
        <th>{{ station }}</th>
        {% endfor %}
    </tr>

    <tr>
        {% for station in stations  %}
        <td {%if map_from[station] %} bgcolor="#79AB68" {% endif %}>
            {{" ".join(map_from[station])}}
        </td>
        {% endfor %}
    </tr>
</table>

<br/><br/>

<table border="1px">
    <tr>
        <th colspan="5">To Airport</th>
    </tr>
    {% for train in to_airport %}
    <tr>
        <td>{{ train.tripId }}</td>
        <td>{{ train.tripStartEn }}</td>
        <td>{{ train.tripEndEn }}</td>
        <td> {{ train.closestStation }} <strong>{{ train.distance }} km</strong></td>
        <td>{{ train.speed }}</td>
    </tr>
    {% endfor %}

    <tr>
        <th colspan="5">From Airport</th>
    </tr>
    {% for train in from_airport %}
    <tr>
        <td>{{ train.tripId }}</td>
        <td>{{ train.tripStartEn }}</td>
        <td>{{ train.tripEndEn }}</td>
        <td> {{ train.closestStation }} <strong>{{ train.distance }} km</strong></td>
        <td>{{ train.speed }}</td>
    </tr>
    {% endfor %}

    <tr>
        <th colspan="5">Other</th>
    </tr>
    {% for train in other %}
    <tr>
        <td>{{ train.tripId }}</td>
        <td>{{ train.tripStartEn }}</td>
        <td>{{ train.tripEndEn }}</td>
        <td> {{ train.closestStation }} <strong>{{ train.distance }} km</strong></td>
        <td>{{ train.speed }}</td>
    </tr>
    {% endfor %}
</table>


<p><a href="http://www.trainose.gr/traingps/ws.php?op=1">ws call</a></p>
<p><a href="/oasa">OASA</a></p>

</body>
</html>
